services:
  app:
    environment:
      - PROJECT_PATH=/project/LCNet
      # prevents python creating .pyc files at runtime
      # - PYTHONDONTWRITEBYTECODE=1
      # compile python dependencies into .pyc files
      # - UV_COMPILE_BYTECODE=1
      - PYTHONDEVMODE=1
      - TZ=Asia/Taipei
    build:
      context: ..
      target: dev
      # secrets:
      #   - GIT_AUTH_TOKEN
      args:
        - PROJECT_PATH=/project/LCNet
        - TZ=Asia/Taipei
    volumes:
      - ..:/project/LCNet:rw,cached
      - ${UV_CACHE_DIR:-${XDG_CACHE_HOME:-${HOME}/.cache}/uv}:/root/.cache/uv:rw,z
    shm_size: 6G
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]

# secrets:
#   GIT_AUTH_TOKEN:
#     environment: GIT_AUTH_TOKEN

